.shoppingGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.picOfItem {
    grid-column: 2;
    grid-row: 1/3;
}

.titleOfItem {
    grid-column: 1;
    grid-row: 1;
}

.costOfItem {
    grid-column: 1;
    grid-row: 2;
}